# Cornershop's Data Science Test

## Dev: Mateus Broilo
mateus.brilo90@gmail.com

* Objectives: Consolidate the analytical record.

# Summary

* Initials
    * Loading Libraries and Packages
    * Configurations
    * Global Variables
    * Function's Definition
        * Class of function associated with the bag of dataset's information
* Loading data
* Analytical Record
    * Orders & Products
    * Dataset's Macro View: Order Level

# Initials
* Loading Libraries and Packages
* Configuration
* Global Variables
* Function's Definition
    * Class of function associated with the bag of dataset's information

## Loading Libraries and Packages

In [52]:
# general
import warnings
import time
import gc

#data
import pandas as pd

In [9]:
ls ..\data\

 O volume na unidade C nÃ£o tem nome.
 O NÃºmero de SÃ©rie do Volume Ã© 1210-43E2

 Pasta de C:\Users\mbroilo\Documents\Arbeit\Personal\projects\cornershop\data

29/03/2022  19:19    <DIR>          .
27/03/2022  11:57    <DIR>          ..
29/03/2022  19:19        64.304.021 20220329_merged_full.csv
29/03/2022  19:19         2.837.128 20220329_merged_partial.csv
29/03/2022  19:19           544.631 20220329_mg2_to_predict.csv
29/03/2022  19:19         2.292.689 20220329_mg2_to_train_test.csv
29/03/2022  19:19         2.977.625 20220329_order_products_to_predict.csv
29/03/2022  19:19        11.727.925 20220329_order_products_to_train_test.csv
29/03/2022  19:19    <DIR>          old
               6 arquivo(s)     84.684.019 bytes
               3 pasta(s)   147.815.952.384 bytes disponÃ­veis

## Configurations

In [2]:
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

## Global Variables

In [3]:
PATH_RAWDATA = "../raw_data/"
PATH_DATA = "../data/"
DATASET_TT = "20220329_merged_train_test.csv"
DATE = time.strftime("%Y%m%d")

## Function's Definition

### Class of function associated with the bag of dataset's information

In [4]:
class infoTools:
    
    def list(dataset, listCol):
        """
        This function returns a table containing all the
        specific required information about the dataset
        and will be used to construct the Analytical Record.
        Args:
            dataset (object/spreadsheet): The dataset under analysis.
            listCol (str list): List containing the columns of the dataset under analysis.
        Returns:
            table (object/spreadsheet): Analytical Record informations.
        """

        info = []

        for i in listCol:
            dtypes = dataset[i].dtypes
            unique = len(dataset[i].unique())
            null = dataset[i].isna().sum()
            nonNull = dataset[i].loc[~dataset[i].isna()].count()
            tot = null + nonNull
            nullPct = round((null / tot)*100, 3)
            nonNullPct = round((nonNull / tot)*100, 3)
            info.append([i, dtypes, null, nonNull, nullPct, nonNullPct, unique])
            
        cols = ['COLUMN_NAME', 'COLUMN_DTYPE', '#_NULL', '#_NON_NULL', '%_NULL', '%_NON_NULL', 'UNIQUE_VALUES']
        table = pd.DataFrame(info, columns=cols)
        return table
    
    def unique(dataset, listCol):
        """
        This function returns a tabulate-form table containing 
        all the unique entries related to the columns/features.
        Args:
            dataset (object/spreadsheet): The dataset under analysis.
            listCol (str list): List containing the columns of the dataset under analysis.
        Returns:
            table (object/spreadsheet): Tabulate with unique entries.
        """

        data = []

        for i in listCol:
            uniqueLen = dataset[i].unique()
            data.append([i, dataset[i].dtypes, uniqueLen])
            
        cols = ['COLUMN_NAME', 'COLUMN_DTYPE', 'UNIQUE_VALUES']
        table = pd.DataFrame(data, columns=cols)
        return table
    
    def listDtypes(dataset, listCol):
        """
        This function returns lists containing the
        data types of each feature.
        Args:
            dataset (object/spreadsheet): The dataset under analysis.
            listCol (str list): List containing the columns of the dataset under analysis.
        Returns:
            colInt, colFlt, colObj (string): Lists with dtypes.
        """        
        
        colInt = []
        colFlt = []
        colObj = []

        for i in dataset[listCol]:
            if dataset[i].dtype == 'int64':
                colInt.append(i)
            elif dataset[i].dtype == 'float64':
                colFlt.append(i)
            else:
                colObj.append(i)
                
        print(f"colInt: {colInt}\n\ncolFlt: {colFlt}\n\ncolObj: {colObj}")
        return colInt, colFlt, colObj

# Loading Data

## To Train & Test

In [7]:
df_tt = pd.read_csv(PATH_DATA + DATASET_TT, sep=',')
df_tt['item'] = 1 # add this column only to groupby the dataset
print(df_tt.shape)
df_tt.head()

(158325, 20)

,order_id,lat_order,lng_order,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,lat_storebranch,lng_storebranch,product_id,quantity,buy_unit,item
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,fb3336fca8851437f980e83045e75749,0.581,KG,1
1,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,dab05166de7d42c526f5627acad97902,1.000,UN,1
2,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,c49f0bd639bcbee3c331abdb48b653da,1.000,UN,1
3,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,16984fbb57316494a14543ad6d70a2e8,1.000,UN,1
4,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,fbfb98804142023129c9475f72db5b08,1.000,UN,1

# Analytical Record
 * Orders & Products
 * Macro view of orders

In [8]:
print(f"infoTools.list:\n{infoTools.list.__doc__}")
print(f"infoTools.uique:\n{infoTools.unique.__doc__}")
print(f"infoTools.listDtypes:\n{infoTools.listDtypes.__doc__}")

infoTools.list:

        This function returns a table containing all the
        specific required information about the dataset
        and will be used to construct the Analytical Record.
        Args:
            dataset (object/spreadsheet): The dataset under analysis.
            listCol (str list): List containing the columns of the dataset under analysis.
        Returns:
            table (object/spreadsheet): Analytical Record informations.

infoTools.uique:

        This function returns a tabulate-form table containing
        all the unique entries related to the columns/features.
        Args:
            dataset (object/spreadsheet): The dataset under analysis.
            listCol (str list): List containing the columns of the dataset under analysis.
        Returns:
            table (object/spreadsheet): Tabulate with unique entries.

infoTools.listDtypes:

        This function returns lists containing the
        data types of each feature.
        Args:
            dataset (object/spreadsheet): The dataset under analysis.
            listCol (str list): List containing the columns of the dataset under analysis.
        Returns:
            colInt, colFlt, colObj (string): Lists with dtypes.

In [50]:
df_tt.isnull().sum()

order_id              0
lat_order             0
lng_order             0
promised_time         0
on_demand             0
shopper_id            0
store_branch_id       0
total_minutes         0
seniority             0
found_rate         1867
picking_speed         0
accepted_rate       544
rating             1689
store_id              0
lat_storebranch       0
lng_storebranch       0
product_id           17
quantity             17
buy_unit             17
item                  0
dtype: int64

## Orders & Products

In [14]:
df_tt[['quantity','buy_unit']].describe().T

             count      mean       std    min  25%  50%  75%   max
quantity  158308.0  1.824383  1.893937  0.055  1.0  1.0  2.0  70.0

In [15]:
tableList_orderProducts_tt = infoTools.list(df_tt[['quantity','buy_unit']], df_tt[['quantity','buy_unit']].columns)
tableList_orderProducts_tt

,COLUMN_NAME,COLUMN_DTYPE,#_NULL,#_NON_NULL,%_NULL,%_NON_NULL,UNIQUE_VALUES
0,quantity,float64,17,158308,0.011,99.989,438
1,buy_unit,object,17,158308,0.011,99.989,3

In [16]:
tableUnique_orderProducts_tt = infoTools.unique(df_tt[['quantity','buy_unit']], df_tt[['quantity','buy_unit']].columns)
tableUnique_orderProducts_tt

  COLUMN_NAME COLUMN_DTYPE                                      UNIQUE_VALUES
0    quantity      float64  [0.581, 1.0, 2.0, 0.1, 0.6, 1.475, 3.0, 1.67, ...
1    buy_unit       object                                      [KG, UN, nan]

**Notice that:**
* As mentioned in the previous part, the left join included some missing values in the order_products.csv

## Dataset's Macro View: Order Level

In [76]:
macro = df_tt[df_tt.columns].groupby(by=[
    'order_id',
    'shopper_id',
    'store_branch_id',
    'store_id',
    'seniority',
    'on_demand',
    'promised_time'
], as_index=False).agg(
    {
        'lat_order':['mean'],
        'lng_order':['mean'],
        'total_minutes':['mean'],
        'found_rate':['mean'],
        'picking_speed':['mean'],
        'accepted_rate':['mean'],
        'rating':['mean'],
        'lat_storebranch':['mean'],
        'lng_storebranch':['mean'],
        'quantity':['sum'],
        'item':['sum']
    }
).copy()

macro.columns = macro.columns.droplevel(1)
macro

,order_id,shopper_id,store_branch_id,store_id,seniority,on_demand,promised_time,lat_order,lng_order,total_minutes,found_rate,picking_speed,accepted_rate,rating,lat_storebranch,lng_storebranch,quantity,item
0,0004a3841c1eeb6c6e77585a941c21e0,9142155b2c404cf6fa3d25db2053da03,1f0e3dad99908345f7439f8ffabdffc4,c4ca4238a0b923820dcc509a6f75849b,41dc7c9e385c4d2b6c1f7836973951bf,True,2019-10-18 20:18:00+00:00,-33.390550,-70.566106,39.001464,0.8473,2.30,0.920000,4.88,-33.386547,-70.568075,8.000,4
1,0005a6ecbbde1e8d273f5577bcff2c9c,169a1820a33c9cb6037ef27025cbbe62,06fe1c234519f6812fc4c1baae25d6af,918317b57931b6b7a7d29490fe5ec9f9,50e13ee63f086c2fe84229348bc91b5b,True,2019-10-18 21:09:00+00:00,-33.352935,-70.513225,41.164442,0.8407,1.57,0.840000,4.72,-33.359768,-70.543273,2.000,1
2,0007baeb6700fc203be2d1f1e11222d7,be1b1c18b570dde0053ac1de527fc7c2,1f0e3dad99908345f7439f8ffabdffc4,c4ca4238a0b923820dcc509a6f75849b,41dc7c9e385c4d2b6c1f7836973951bf,False,2019-10-19 00:00:00+00:00,-33.412355,-70.577438,136.453089,0.9012,2.50,1.000000,4.92,-33.386547,-70.568075,39.000,22
3,0012195a6a8ca9ec308a3010eeea8ebc,572adecb1c4538ef2492dfbd3b951c83,1f0e3dad99908345f7439f8ffabdffc4,c4ca4238a0b923820dcc509a6f75849b,6c90661e6d2c7579f5ce337c3391dbb9,False,2019-10-19 18:00:00+00:00,-33.395016,-70.558166,72.853598,0.8781,1.27,0.920000,4.88,-33.386547,-70.568075,13.000,11
4,0013011fa72b498b9feb84f4e7104980,92ce0da04dc7370cdf2ab85232caa754,45fbc6d3e05ebd93369ce542e8f2322d,c4ca4238a0b923820dcc509a6f75849b,50e13ee63f086c2fe84229348bc91b5b,False,2019-10-19 00:00:00+00:00,-33.428082,-70.545990,143.040919,0.8301,3.12,0.857143,5.00,-33.441246,-70.535450,64.636,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,ffc3234b2e009e5422a4b5e24961c038,bd601d85deffaffd46e02aaa1a1606c2,1679091c5a880faf6fb5e6087eb1b2dc,c4ca4238a0b923820dcc509a6f75849b,6c90661e6d2c7579f5ce337c3391dbb9,False,2019-10-19 15:00:00+00:00,-33.330712,-70.522347,92.146266,0.8853,1.30,1.000000,4.76,-33.370765,-70.512420,18.100,15
7996,ffcc66cd4d1056b67523a39ff07d7700,3148c351563fde7522d9dee34753d32c,c4ca4238a0b923820dcc509a6f75849b,c4ca4238a0b923820dcc509a6f75849b,6c90661e6d2c7579f5ce337c3391dbb9,True,2019-10-18 22:19:00+00:00,-33.404327,-70.517326,57.553529,0.8973,0.97,1.000000,4.84,-33.402024,-70.516727,72.015,40
7997,ffcf270be4bba33349ce827c70fe9439,9322e287d34f4cf4ab14e4c319362f3c,1f0e3dad99908345f7439f8ffabdffc4,c4ca4238a0b923820dcc509a6f75849b,6c90661e6d2c7579f5ce337c3391dbb9,False,2019-10-19 17:00:00+00:00,-33.417725,-70.586504,103.938002,0.8981,1.37,0.960000,4.80,-33.386547,-70.568075,52.332,22
7998,ffdbc12cfcf7101a517a7eb7e1776c43,525fb85152938731f5961e37b4b5126a,0d73a25092e5c1c9769a9f3255caa65a,c4ca4238a0b923820dcc509a6f75849b,50e13ee63f086c2fe84229348bc91b5b,True,2019-10-19 14:43:00+00:00,-32.941279,-71.531203,40.134711,0.8771,1.07,0.840000,4.92,-32.931687,-71.518301,39.602,23
7999,ffe8fa40d7e51f9860b62b5e9d798a57,5d466f396e70bc57f4c3925649663308,a733fa9b25f33689e2adbe72199f0e62,c4ca4238a0b923820dcc509a6f75849b,41dc7c9e385c4d2b6c1f7836973951bf,True,2019-10-18 21:24:00+00:00,-33.039388,-71.594230,79.432947,0.8228,2.05,0.960000,4.92,-33.048862,-71.603729,29.000,18

In [77]:
macro.describe().T

,count,mean,std,min,25%,50%,75%,max
lat_order,8000.0,-33.425854,0.562385,-36.920796,-33.426292,-33.398088,-33.353715,-29.833517
lng_order,8000.0,-70.668074,0.400292,-73.144280,-70.606329,-70.574995,-70.540109,-70.453728
total_minutes,8000.0,81.106130,34.720837,11.969489,55.225480,74.731672,100.273498,304.190303
found_rate,7831.0,0.863366,0.029900,0.737300,0.846300,0.866200,0.884000,0.971000
picking_speed,8000.0,1.690111,0.630485,0.650000,1.260000,1.520000,2.000000,7.040000
accepted_rate,7959.0,0.916554,0.097705,0.240000,0.880000,0.960000,1.000000,1.000000
rating,7862.0,4.850739,0.127480,3.880000,4.800000,4.880000,4.960000,5.000000
lat_storebranch,8000.0,-33.430196,0.559560,-36.904347,-33.436905,-33.386547,-33.370765,-29.901425
lng_storebranch,8000.0,-70.661916,0.400552,-73.096660,-70.599000,-70.568075,-70.521353,-70.492256
quantity,8000.0,36.101808,34.190253,0.000000,11.469000,27.000000,50.400000,319.700000
item,8000.0,19.790625,16.517586,1.000000,7.000000,16.000000,28.000000,145.000000

In [78]:
tableList_df_tt = infoTools.list(macro, macro.columns)
tableList_df_tt

,COLUMN_NAME,COLUMN_DTYPE,#_NULL,#_NON_NULL,%_NULL,%_NON_NULL,UNIQUE_VALUES
0,order_id,object,0,8000,0.000,100.000,8000
1,shopper_id,object,0,8000,0.000,100.000,2735
2,store_branch_id,object,0,8000,0.000,100.000,434
3,store_id,object,0,8000,0.000,100.000,201
4,seniority,object,0,8000,0.000,100.000,4
5,on_demand,bool,0,8000,0.000,100.000,2
6,promised_time,object,0,8000,0.000,100.000,852
7,lat_order,float64,0,8000,0.000,100.000,6778
8,lng_order,float64,0,8000,0.000,100.000,6745
9,total_minutes,float64,0,8000,0.000,100.000,8000
10,found_rate,float64,169,7831,2.113,97.888,1816
11,picking_speed,float64,0,8000,0.000,100.000,469
12,accepted_rate,float64,41,7959,0.513,99.488,140
13,rating,float64,138,7862,1.725,98.275,71
14,lat_storebranch,float64,0,8000,0.000,100.000,416
15,lng_storebranch,float64,0,8000,0.000,100.000,414
16,quantity,float64,0,8000,0.000,100.000,4171
17,item,int64,0,8000,0.000,100.000,107

In [81]:
tableUnique_df_tt = infoTools.unique(macro, macro.columns)
tableUnique_df_tt

,COLUMN_NAME,COLUMN_DTYPE,UNIQUE_VALUES
0,order_id,object,"[0004a3841c1eeb6c6e77585a941c21e0, 0005a6ecbbd..."
1,shopper_id,object,"[9142155b2c404cf6fa3d25db2053da03, 169a1820a33..."
2,store_branch_id,object,"[1f0e3dad99908345f7439f8ffabdffc4, 06fe1c23451..."
3,store_id,object,"[c4ca4238a0b923820dcc509a6f75849b, 918317b5793..."
4,seniority,object,"[41dc7c9e385c4d2b6c1f7836973951bf, 50e13ee63f0..."
5,on_demand,bool,"[True, False]"
6,promised_time,object,"[2019-10-18 20:18:00+00:00, 2019-10-18 21:09:0..."
7,lat_order,float64,"[-33.3905504, -33.3529350573178, -33.412354889..."
8,lng_order,float64,"[-70.5661064, -70.5132247880101, -70.577438449..."
9,total_minutes,float64,"[39.0014637666667, 41.1644418166667, 136.45308..."
10,found_rate,float64,"[0.8473, 0.8407, 0.9012, 0.8781, 0.8301, 0.866..."
11,picking_speed,float64,"[2.3, 1.57, 2.5, 1.27, 3.12, 2.38, 1.32, 2.09,..."
12,accepted_rate,float64,"[0.92, 0.84, 1.0, 0.857142857142857, 0.96, 0.9..."
13,rating,float64,"[4.88, 4.72, 4.92, 5.0, 4.839999999999999, 4.9..."
14,lat_storebranch,float64,"[-33.3865471, -33.359768, -33.441246, -33.4020..."
15,lng_storebranch,float64,"[-70.5680753, -70.543273, -70.53545, -70.51672..."
16,quantity,float64,"[8.0, 2.0, 39.0, 13.0, 64.636, 33.0, 1.8, 10.7..."
17,item,int64,"[4, 1, 22, 11, 44, 16, 7, 3, 35, 36, 53, 17, 1..."